# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create and execute code cells
- Convert minutes to hours in Python
- Perform basic arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. scikit-learn
4. TensorFlow
5. Keras

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes into hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Keyla Romina Femat Gallego